* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.calendar-container {
	width: 400px;
	border: 1px solid #ddd;
	margin: 5em auto;
	padding: 1em;
	box-shadow: -0.5px 3px 5px rgba(0, 0, 0, 0.2);
}
.calendar-title {
	text-align: center;
	margin: 0.2em 0;
	color: #232323;
}
.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.day {
	list-style: none;
	text-align: right;
	padding: 0.3em 0.5em;
	color: #444;
}
.day-name {
	background: #eee;
	font-weight: 700;
	text-align: center;
}
.first-day {
	grid-column-start: 3;
}
