.element-content-form {
	width: 100%;
}
form.content-form {
	width: 95%;
	margin: 0 auto;
	padding: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
fieldset {
	border-radius: 7px;
	padding: 5px;
	background-color: white;
}
legend {
	background-color: white;
	border-radius: 7px;
	padding: 5px;
	border: solid 2px gray;
}
.form-lenght {
	width: 98%;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 0.9em;
}
select.form-lenght {
	width: 99%;
	color: gray;
}
.btn_save {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px gray;
	background: rgb(255, 202, 55);
	font-weight: bold;
	color: gray;
}
.content-buton {
	display: block;
	margin: 10px 30px;
}

/* LABEL ANIM*/
.wrapper-form-data {
	background: #fff;
	padding: 30px 15px;
	display: inline-flex;
	width: calc(100% - 60px);
}
.wrapper-form-data .input-data {
	height: 40px;
	width: 100%;
	position: relative;
}
.wrapper-form-data .input-data input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
	transform: translateY(-20px);
	font-size: 15px;
}
.wrapper-form-data .input-data label {
	position: absolute;
	bottom: 10px;
	left: 0;
	color: grey;
	pointer-events: none;
	transition: all 0.3s ease;
}
.input-data .underline {
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
}
.input-data .underline:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
	transform: scaleX(1);
}

.wrapper-long-form-data {
	background: #fff;
	padding: 30px;
	display: flex;
}
.wrapper-long-form-data .input-data {
	height: 40px;
	width: 100%;
	position: relative;
	padding: 0 10px;
}
.wrapper-long-form-data .input-data textarea {
	height: 100%;
	font-size: 17px;
	border: none;
	border-left: 2px solid silver;
	border-bottom: 2px solid silver;
}
.wrapper-long-form-data textarea:focus ~ label,
.wrapper-long-form-data textarea:valid ~ label {
	transform: translateY(-30px);
	font-size: 15px;
}
.wrapper-long-form-data .input-data label {
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: grey;
	pointer-events: none;
	transition: all 0.3s ease;
}

.wrapper-form-options {
	width: 450px;
	background: #fff;
	padding: 30px;
	display: inline-flex;
}

.content-wraper-options {
	display: flex;
	color: rgb(107, 105, 105);
	padding: 25px 30px;
}
.content-wraper-options .input-option {
	width: 100%;
}
.content-wraper-options .input-option {
	padding: 0 10px;
}
.content-wraper-options .input-option .content-options {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.content-wraper-options {
		display: block;
	}
	.wrapper-form-options {
		width: 100%;
		display: flex;
	}
}
