.contenedor-layout {
	width: 100%;
	text-align: center;
}

.contenedor-1,
.contenedor-2,
.contenedor-3,
.contenedor-4 {
	display: inline-block;
	width: 21.5%;
	vertical-align: top;
	padding-left: 1.5%;
}
.contenedor-1 img,
.contenedor-2 img,
.contenedor-3 img,
.contenedor-4 img {
	display: block;
	margin: 10px auto;
	width: 100%;
}

.contenedor-1 p,
.contenedor-2 p,
.contenedor-3 p,
.contenedor-4 p {
	text-align: justify;
}

/* FLOTANTES */
.contenedor-float-1,
.contenedor-float-2,
.contenedor-float-3,
.contenedor-float-4 {
	float: left;
	width: 21.5%;
	padding: 0 1.5%;
}
.contenedor-float-1 img,
.contenedor-float-2 img,
.contenedor-float-3 img,
.contenedor-float-4 img {
	width: 100%;
}
.contenedor-float-1 p,
.contenedor-float-2 p,
.contenedor-float-3 p,
.contenedor-float-4 p {
	text-align: justify;
}
