*{
    margin: 0;
    padding: 0;
}
.header,
.nav,
.sidebar,
.main,
.footer{
    padding: 20px;
    font-size: 1.6em;
    border: 3px solid rgba(0,0,0, .7);
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: #000 1px 1px 1px;
}
.page-content{
    transition: all 0.5s;
    display: grid;
    grid-template:  'header   header' 100px
                    'navbar   navbar' 100px
                    'sidebar  main' 400px
                    'footer   footer' 150px /
                    200px     auto;
}
.header{
    background: darkcyan;
    grid-area: header;
}
.nav{
    background: goldenrod;
    grid-area: navbar;
}
.sidebar{
    background:green;
    grid-area: sidebar;
}
.main{
    background:darkred;
    grid-area: main;
}
.footer{
    background: salmon;
    grid-area: footer;
}

@media only screen and (max-width: 600px){
    .page-content{
        grid-template:  'header' 100px
                        'navbar ' 100px
                        'main ' 500px
                        'sidebar ' 300px
                        'footer' 150px;
                        
    }
}